.profile-wrapper {
    width: 100%;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

.profile-container {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.profile-container:first-child {
    border-right: 2px solid;
}

.profile-container:nth-child(2) {
    padding-left: 5%;
   
}

.profile-header {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.profile-header h4 {
    margin: 0;
    padding-bottom: 1em;
    text-align: left;
    font-size: 2em;
}
.methodology-header h4 {
    margin: 0;
    text-align: left;
    font-size: 2em;
   padding-top: 2em;
}

.profile-content-wrapper {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.profile-content-lebel {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: right;
    padding-right: 2em;
    font-weight: bold;
}

.profile-content-desc {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.ex-title h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.ex-title p {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding-top: 1.5em;
}
.contact-main{
    padding-left:70%;
}
.competence-main{
    padding-left:60%;
    padding-top: 7%;
    
}
.experience-main{
    padding-left: 0%;
}
.structure{
    padding-left: 4%;
}

