<div class="main-image">
  <div class="main-text">
      <p class=" name"><span>Sai Srivastava KUCHIBHOTLA</span></p>
    <h1 style="font-size:30px"> </h1>
    <h3>And I'm a Developer</h3>
    <img class="picture" height="10%" width="20%" src="assets/images/cool.jpg">
  </div>
</div>


<div class="wrapper-objective">

  <div class="title-objective">
    <i class="heading_file"></i>
    OBJECTIVE

  </div>
  <h4 class="line1">I am highly passionate to learn about new technologies and to excel in innovative applications. I am seeking for challenging
    position which will enable me to
  </h4>
  <h4 class="line2">continuously learn, create and simultaneously contribute to short and long tearm goals.</h4>

</div>






<!-- 
<div class="section">
  <div id="section-left"> -->


<!-- <div class="wrapper-left">

      <div class="title-left">
        <i class="heading_file"></i>
        Contact
      </div>
    </div>
    <div id="contact">
      <table align="center">
        <tr>
          <td style="text-align: right">
            <b>Address:</b>
          </td>
          <td class="new">CV Raman Nagar, Bengaluru</td>
        </tr>
        <tr>
          <td style="text-align: right">
            <b>Tel:</b>
          </td>
          <td class="newn">437019</td>
        </tr>
        <tr>
          <td style="text-align: right">
            <b>Mobile:</b>
          </td>
          <td class="newn">9955926257</td>
        </tr>
      </table>
    </div>
  </div> -->
<!--right section-->
<!-- <div id="section-right">
    <div class="wrapper">
      <div class="section">
        <div class="title">
          <i class="heading_file"></i>
          Experience
        </div>
        <div class="content">
          <h2 class="file">Backend Development </h2>
          <h3 class="file" class="subdivision">PwC India | JULY 2018 | Current</h3>
          <ul>
            <li>Responsible for designing and implementing API endpoints.
            </li>
            <li>Responsible for testing the APIs using Postman, cURL.
            </li>
          </ul>
        </div>

        <div class="content">
          <h2 class="file">Frontend Development</h2>
          <h3 class="subdivision">PwC India | MARCH 2018 | Currentt</h3>
          <ul>
            <li>Responsible for the designing rules and database tables</li>
            <li>Responsible for integration of backend with the front-end</li>
          </ul>
        </div>
      </div>

      <div class="wrapper-formation-left">

        <div class="title-formation-left">
          <i class="heading_file"></i>
          Education
        </div>
      </div>
      <div id="section-sub-left">
          <div class="content">
              <h3 class="subdivision">2018 - Electrical and Electronics Engineering - Birla Institute of Technology</h3>
              </div>

        



      </div>
      
    </div>
  </div>
</div> -->

<div class="profile-wrapper">
  <div class="profile-container">
    <div class="profile-header contact-main">
      <h4>Contact</h4>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-content-lebel">
        Address:
      </div>
      <div class="profile-content-desc">
        CV Raman Nagar, Bengaluru
      </div>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-content-lebel">
        Tel:
      </div>
      <div class="profile-content-desc">
        437019
      </div>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-content-lebel">
        Mobile:
      </div>
      <div class="profile-content-desc">
        +91-9955926257
      </div>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-content-lebel">
        Email:
      </div>
      <div class="profile-content-desc">
        srivastava.kuchibhotla@gmail.com
      </div>
    </div>
    <div class="profile-header competence-main">
      <h4>Competence</h4>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-img-desc">
        <img height="30%" width="30%" src="assets/images/Ms Word.png" style="padding-left: 9%">
        <img height="30%" width="30%" src="assets/images/Ms Excel.png">
        <img height="30%" width="30%" src="assets/images/Machine Learning.png">
        <img height="30%" width="30%" src="assets/images/HTML, CSS.png" style="padding-left: 9%">
        <img height="30%" width="30%" src="assets/images/Java, python.png">
        <img height="30%" width="30%" src="assets/images/Mulesoft.png">


      </div>
    </div>

    <div class="profile-header competence-main">
      <h4>Languages</h4>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-img-desc">
        <img height="30%" width="30%" src="assets/images/English.png" style="padding-left: 9%">
        <img height="30%" width="30%" src="assets/images/Hindi.png">
        <img height="30%" width="30%" src="assets/images/Telugu.png">


      </div>
    </div>



  </div>
  <div class="profile-container">
    <div class="profile-header experience-main">
      <h4>
        <i class="heading_file"></i>
        Experience</h4>
    </div>
    <div class="profile-content-wrapper structure ">
      <div class="ex-title">
        <h3>BACKEND DEVELOPMENT</h3>
        <p>PWC INDIA | JULY 2018 | CURRENT </p>
      </div>
      <div class="ex-desc">
        <ul>
          <li>Responsible for designing and implementing API endpoints.</li>
          <li>Responsible for testing the APIs using Postman, cURL.</li>
        </ul>
      </div>
    </div>
    <div class="profile-content-wrapper structure">
      <div class="ex-title">
        <h3>Frontend Development </h3>
        <p>PWC INDIA | JUNE 2018 | JULY 2018 </p>
      </div>
      <div class="ex-desc">
        <ul>
          <li>Responsible for the designing rules and database tables.
          </li>
          <li>Responsible for integration of backend with the front-end.
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-content-wrapper structure">

      <div class="ex-title">
          <h3>BACKEND DEVELOPMENT</h3>
          <p>PWC INDIA | MAY 2018 | JUNE 2018 </p>

      </div>
      <div class="ex-desc">
          <ul>
              <li>Responsible for designing and implementing API endpoints.</li>
              <li>Responsible for testing the APIs using Postman, cURL.</li>
            </ul>
      </div>
    </div>
    <div class="profile-content-wrapper structure">
      <div class="ex-title">
        <h3>DATA ANALYTICS </h3>
        
      </div>
      <div class="ex-desc">
        <ul>
            <li>Responsible for the design methodology and structural implementation of provided data using R Studio.
              </li>
          
        </ul>
      </div>
    </div>


    <div class="methodology-header experience-main">
      <h4>
        <i class="heading_file"></i>
        Education</h4>
    </div>
    <div class="profile-content-wrapper structure ">
      <div class="ex-title">

        <p>2018 | Electrical and Electronics | Birla Institute of Technology </p>
      </div>

    </div>
    <div class="methodology-header experience-main">
      <h4>
        <i class="heading_file"></i>
        Methodology</h4>
    </div>
    <div class="profile-content-wrapper structure ">
      <div class="ex-desc">
        <ul>
          <li>Agile Methodology
            </li>
          <li>Systems Development Lifecycle
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>