/* You can add global styles to this file, and also import other style files */
.container {
    position: absolute; 
    text-align: center;
    color: white;
}
/* Top left text */
.top-left {
    position: relative;
    top: 8px;
    left: 16px;
}

.section {
    width: 100%;
    float: left;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-image {
    background-image: url("https://images.unsplash.com/photo-1521539772582-ab5d643b5257?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57916fb1d7c03b2f7d36d72fb1079f12&w=1000&q=80");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }

  .picture {


    border-radius: 50%;
    border-style: solid;
    border-color: aliceblue;
  }

  .main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 5%;
  }

  .objective-text {
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  #contact {
    margin-top: 40px;
  }




  #section-left {
    width: 50%;
    float: left;
    height: 100%;
    color: rgb(2, 0, 0);
    text-align: center;


  }

  #section-left .section {
    margin-top: 0%;
    padding: 1em;

  }

  .new {
    text-align: right;
    padding-left: 4em;
  }

  .newn {
    text-align: left;
    padding-left: 4em;

  }

  




  .intro hr {
    width: 50%;
    display: block;
    height: 2px;
    border: 0px;
    border-top: 1px solid;
  }

  .intro .content {
    margin-bottom: 20px;
  }

  #contact {
    margin-top: 40px;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
    

  }

  #section-right {
    width: 50%;
    float: right;
    border-left: 1.5px solid black;
    box-sizing: border-box;
    /*height: 100%;*/
  }

  #section-right .section {
    margin: 0 0 30px 0;
  }

  .wrapper {
    padding: 2em;
  }

  .fa {
    margin-right: 30px;
  }

  .wrapper .title {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;

  }

  .file {
    padding-left: 1em;
  }

  a:link {
    color: #fff;
    text-decoration: none;
  }

  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a:active {
    color: #fff;
    text-decoration: none;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: normal;
  }

  .heading_file {
    padding-left: 0.7em;
  }

  .subdivision {
    padding-left: 1.3em;
  }

  .wrapper-left .title-left {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-left: 9em;
    padding-top: 2em;


  }

  .wrapper-objective .title-objective {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    padding-top: 1.4em;
  }

  .wrapper-formation-left .title-formation-left {
    color: black;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  #section-sub-left .section {
    margin-top: 0%;


  }

  .wrapper-sub-left .title-sub-left {
    color: black;
    font-variant: small-caps;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 0.3em;
    font-size: 1em;
  }

  #section-sub-right {
    width: 50%;
    float: right;
    /*height: 100%;*/
  }


  #section-sub-right .section {
    margin-top: 0%;

  }

  .wrapper-sub-right .title-sub-right {
    color: black;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
  }

  .line1 {
    padding-left: 8%;
    margin-bottom: 0;
    font-weight: 200;
  }

  .line2 {
    padding-left: 24%;
    margin-top: 0;
    font-weight: 200;
    
  }

  .address {
    padding-left: 2em;
  }

  .name {
    line-height: 0.10;
    text-align: center;
    padding: 3px;
    color: #ffff;
    font-size:25px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
   }
   .name span {
    display: inline-block;
    position: relative;
   }
   .name span:before,
   .name span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid white;
    width: 600px;
   }    
   .name span:before {
    right: 100%;
    margin-right: 15px;
   }
   .name span:after {
    left: 100%;
    margin-left: 15px;
   }

